.global-wrapper {
    display: flex;
    flex-direction: column;
}

.heading {
    text-align: center;
    color: #121212;
}

.image-wrapper {
    margin: 0 auto;
}

.stadium-image {
    width: 380px;
    border-width: 3px solid black;
}

.para {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inputbutton-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input {
    margin-bottom: 10px;
    padding: 5px;
    border: 3px solid black;
    background-color: white;
    color: black;
    text-align: center;
}

.join-button {
    padding: 5px;
    background-color: black;
    color: white;
}

.wrapper {
    padding: 10px;
}

.last-para {
    margin: 0;
    display: inline;
}

.anchor-tag {
    margin-left: 5px;
    font-weight: bold;
    display: inline;
}